body { 
    padding-top: 70px;
}

.navbar {
    background-color: #f1f1f1;
    display:inline;
}

.li {
    display: inline;
}

.alignRight {
    float: right;
}

.alignLeft {
    float: left;
}

.topSearch {
    margin-left: 10px;
}

.lightBlue {
   background-color: #00bfff;
}

.lightGray {
   background-color: #f1f1f1;
}

.centerText {
    text-align: center;
}

.bold {
    font-weight: bold; 
}

.box {
    height: 100%;
}

.solidBorder {
    border-style: solid;
}